<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-slides pager>

    <ion-slide *ngFor='let item of items, let i = index'>
      <ion-card-header text-left text-wrap>
        {{ i+1 + '. ' + item.question}}
      </ion-card-header>
      <ion-card-content>
        <ion-list radio-group >
          <ion-item>
            <ion-label text-wrap>A. {{ item.a }}</ion-label>
            <ion-radio (ionSelect)='checkAnswer($event, item, i)' color="primary" value="A" checked="false"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label text-wrap>B. {{ item.b }}</ion-label>
            <ion-radio (ionSelect)='checkAnswer($event, item, i)' color="primary" value="B" checked="false"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label text-wrap>C. {{ item.c }}</ion-label>
            <ion-radio (ionSelect)='checkAnswer($event, item, i)' color="primary" value="C" checked="false"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label text-wrap>D. {{ item.d }}</ion-label>
            <ion-radio (ionSelect)='checkAnswer($event, item, i)' color="primary" value="D" checked="false"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label text-wrap>E. {{ item.e }}</ion-label>
            <ion-radio (ionSelect)='checkAnswer($event, item, i)' color="primary" value="E" checked="false"></ion-radio>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-slide>
  </ion-slides>
<button ion-button (click)='computeAnswers()' >SUBMIT</button>
  <!--<p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p>

  <button ion-button secondary outline menuToggle>Toggle Menu</button>
  
  <ion-card *ngFor='let item of items, let i = index'>
    <ion-card-header text-wrap>
       {{ i+1 + '. ' + item.question}}
    </ion-card-header>
    <ion-card-content>
      <ion-list radio-group >
        <ion-item>
          <ion-label text-wrap>A. {{ item.a }}</ion-label>
          <ion-radio (ionSelect)='checkAnswer($event, item)' color="primary" value="A" checked="false"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label text-wrap>B. {{ item.b }}</ion-label>
          <ion-radio (ionSelect)='checkAnswer($event, item)' color="primary" value="B" checked="false"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label text-wrap>C. {{ item.c }}</ion-label>
          <ion-radio (ionSelect)='checkAnswer($event, item)' color="primary" value="C" checked="false"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label text-wrap>D. {{ item.d }}</ion-label>
          <ion-radio (ionSelect)='checkAnswer($event, item)' color="primary" value="D" checked="false"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label text-wrap>E. {{ item.e }}</ion-label>
          <ion-radio (ionSelect)='checkAnswer($event, item)' color="primary" value="E" checked="false"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>-->
</ion-content>
